{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}

{% block main %}

<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center">
        <div class="col-6 card p-4 shadow">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Изменить
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock main %}