{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="categories">
    <div class="container mt-3 mb-3">
        <div class="d-flex justify-content-around">
            {% for category in categories %}
            <a href="{% url 'category_page' category.id %}"
               class="btn btn-outline-success shadow">
                <b>{{ category.title }}</b>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="articles">
    <div class="container mb-3">
        <div class="cards">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles%}
                <div class="col">
                    <div class="card" style="width: 415px;" >
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>Категория: {{ article.category }}</b>
                                </div>
                                <div>
                                    <b>Просмотры: {{ article.views }}</b>
                                </div>
                            </div>

                        </div>

                        <a href="{% url 'article_detail' article.id %}">
                            <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description|truncatewords:20 }}</p>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>Автор: <a href="{% url 'profile' article.author.pk %}">{{ article.author }}</a></b>
                                </div>
                                <div>
                                    <b>{{ article.created_at }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock main %}